* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 2rem;
    background-color: rgb(178, 198, 238);
}

main{
    text-align: center;
}
section {
    text-align: left;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

h5 {
    margin-top: 1rem;
}

#start-button {
    width: 40rem;
    height: 20rem;
    border: none;
    cursor: pointer;
    font-size: 5rem;
    margin: 4rem;
}

#next-question {
    display: none;
    border: none;
    height: 2rem;
    width: 8rem;
    margin-top: 2rem;
}

#headline {
    margin: 2rem 0;
}

#answerOutput {

    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    margin-bottom: 1rem;
}

#radiolabel {
    margin-left: 1rem;
}

#resultOutput {
    margin-top: 4rem;
}


.loader {
    margin: 2rem auto;
    width: 40px;
    height: 98px;
    display: inline-block;
    position: relative;
    border: 2px solid #FFF;
    box-sizing: border-box;
    color: rgba(255, 61, 0, 0.9);
    border-radius: 20px 20px 4px 4px;
    background: #fff;
    animation: fill 2s linear infinite alternate;
  }
  .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50% , -95%);
    border: 2px solid #FFF;
    border-bottom: none;
    background: #fff;
    width: 15px;
    height: 35px;
    animation: fillNeck 2s linear infinite alternate;
  }

  @keyframes fill {
    0% { box-shadow: 0 0  inset }
    50% , 100% { box-shadow: 0 -98px inset }
  }


  @keyframes fillNeck {
    0% , 50%{ box-shadow: 0 0  inset }
    100% { box-shadow: 0 -20px inset }
  }
